* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    transition: background 0.3s ease;
    font-family: 'Barlow', sans-serif !important;
}
body.dark-theme {
    background-color: #21242c;
}
/*****************************/
/*  NAVBAR & SIDEBAR
/****************************/
.dark-theme .navbar {
    background-color: #21242c;
}
.dark-theme .navbar-bg {
    background-color: #21242c;
}
.dark-theme .main-sidebar {
    background-color: #272b35;
}
body.dark-theme.sidebar-mini .main-sidebar::after {
    background-color: #272b35;
}
.dark-theme .divshop-acp-logo-dark {
    display: none;
}
.dark-theme .divshop-acp-logo-light {
    display: unset;
}
.dark-theme .item-active {
    box-shadow: unset !important;
}
.dark-theme .dropdown-menu {
    background-color: #272b35;
}
.dark-theme .dropdown-menu .dropdown-item {
    color: #fff;
}
.dark-theme .dropdown-menu .dropdown-item:hover,
.dark-theme .dropdown-menu .dropdown-item:focus,
.dark-theme .dropdown-menu .dropdown-item:active {
    background: #21242c;
}
.dark-theme .dropdown-list .dropdown-item.dropdown-item-unread {
    background: #21242c;
    border-bottom-color: #272b35;
}
.dark-theme .dropdown-list .dropdown-item .dropdown-item-desc {
    color: #fff !important;
}
.dark-theme .dropdown-list .dropdown-item .dropdown-item-desc .text-muted {
    color: #e2e2e2 !important;
}
.dark-theme .dropdown-list .dropdown-item .dropdown-item-desc .text-muted b {
    color: #a6a5a5 !important;
}
/*****************************/
/*  MAIN WRAPPER
/****************************/
.dark-theme .main-wrapper-1 .section .section-header {
    background-color: #272b35;
    border-top: 1px solid #272b35;
}
.dark-theme .main-wrapper-1 .section .section-header h1 {
    color: #fff;
}
/*****************************/
/*  CARDS, TABLES, MODALS & FOOTER
/****************************/
.dark-theme .card {
    background-color: #272b35;
}
.dark-theme .card.card-statistic-1 .card-body, .card.card-statistic-2 .card-body {
    color: #fff;
}
.dark-theme .card .card-header h4 {
    color: #fff;
}
.dark-theme .card .card-header {
    background-color: #272b35;
    border-bottom-color: #21242c;
}
.dark-theme .divshop-no-data {
    color: #fff;
}
.dark-theme .statistic-details .statistic-details-item .detail-name {
    color: #fff;
}
.dark-theme .failedlogin-info .failedlogin-username,
.dark-theme .failedlogin-info .failedlogin-date {
    color: #fff;
}
.dark-theme .table thead th {
    color: #fff !important;
    background-color: #242731 !important;
}
.dark-theme .table td {
    color: #fff;
}
.dark-theme .main-footer {
    color: #fff;
    border-top: 1px solid #272b35;
}
.dark-theme .modal-header {
    color: #fff;
    background-color: #21242c !important;
}
.dark-theme .modal-body,
.dark-theme .modal-content {
    color: #fff;
    background-color: #272b35 !important;
}
.dark-theme .modal-footer {
    color: #fff;
    background-color: #21242c !important;
}
.dark-theme .close {
    color: #fff;
}
.dark-theme .close:hover,
.dark-theme .close:focus
.dark-theme .close:active {
    color: #e7e7e7 !important;
}
.dark-theme .card-module {
    background: #21242c !important;
}
.dark-theme .nav-tabs .nav-item.show .nav-link, .dark-theme .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #272b35;
    border-color: #353a47 #353a47 transparent !important;
}
.dark-theme .nav-tabs .nav-link {
    color: #fff;
}
.dark-theme .nav-tabs {
    border-bottom: 1px solid #353a47;
}
.dark-theme .nav-tabs .nav-item.show .nav-link, .dark-theme .nav-tabs .nav-link:hover,
.dark-theme .nav-tabs .nav-item.show .nav-link, .dark-theme .nav-tabs .nav-link:focus,
.dark-theme .nav-tabs .nav-item.show .nav-link, .dark-theme .nav-tabs .nav-link:active {
    color: #e7e7e7;
}
.dark-theme .nav-tabs .nav-link:hover,
.dark-theme .nav-tabs .nav-link:focus,
.dark-theme .nav-tabs .nav-link:active {
    border-color: #353a47 !important;
}
.dark-theme .service-command {
    border-bottom-color: #353a46;
}
/*****************************/
/*  CONFIRMS
/****************************/
.dark-theme .notiflix-confirm-content,
.dark-theme .notiflix-report-content {
    background: #242731 !important;
}
.dark-theme .notiflix-confirm-head div,
.dark-theme .notiflix-report-title,
.dark-theme .notiflix-report-message {
    color: #ffffff !important;
}


/*****************************/
/*  FORMS
/****************************/
.dark-theme .form-control, .dark-theme .input-group-text, .dark-theme .custom-select, .dark-theme .custom-file-label {
    background-color: #21242c;
    border-color: #2d323d;
    color: #fff;
    transition: all 0.3s;
}
.dark-theme .form-control, .dark-theme .input-group-text, .dark-theme .custom-select, .dark-theme .custom-file-label {
    background-color: #21242c !important;
    border-color: #2d323d !important;
}
.dark-theme .form-control:focus {
    background-color: #191c22;
    border-color: #2d323d;
    outline: 0;
    color: #fff;
    box-shadow: none, 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.dark-theme .form-group label {
    color: #fff;
}
.dark-theme .avatar-upload .avatar-edit input + label {
    background-color: #21242c;
    color: #fff;
}
.dark-theme .avatar-upload .avatar-edit input + label::before {
    color: #fff;
}
.dark-theme .aks-file-upload {
    background-color: #21242c;
    border-color: #1a1c22;
}
.dark-theme .avatar-upload .avatar-edit input + label:hover,
.dark-theme .avatar-upload .avatar-edit input + label:focus,
.dark-theme .avatar-upload .avatar-edit input + label:active {
    background-color: #1a1c22;
    border-color: #1a1c22;
}
.dark-theme .form-group .custom-file-label::after {
    background-color: #2d313c;
    border-color: #272b35;
    color: #fff;
}
.dark-theme .note-editor.note-frame {
    border-color: #1a1c22;
}
.dark-theme .note-toolbar .note-btn {
    color: #fff;
}
.dark-theme .note-toolbar .note-btn:hover,
.dark-theme .note-toolbar .note-btn:focus,
.dark-theme .note-toolbar .note-btn:active {
    background-color: #1a1c22 !important;
    color: #fff;
}
.dark-theme .note-toolbar .note-btn.active {
    background-color: #3d414e !important;
    border-color: #3d414e;
    color: #fff;
}
.dark-theme .note-editor.note-frame .note-statusbar .note-resizebar {
    background-color: #1a1c22;
}
.dark-theme .card-header.note-toolbar .dropdown-menu.note-check a span {
    color: #fff;
}
.dark-theme .note-editor.note-frame .note-editing-area .note-editable {
    background-color: #21242c;
    color: #fff;
}
/*****************************/
/*  BUTTONS, POPOVER & SCROLL 
/****************************/
.dark-theme .popover {
    background-color: #20232b !important;
    border-color: #20232b !important;
}
.dark-theme .popover-body {
    color: #ffffff !important;
}
.dark-theme .popover .arrow::before {
    border-left-color: #20232b !important;
}
.dark-theme .popover .arrow::after {
    border-left-color: #20232b !important;
}
.dark-theme .btn {
    box-shadow: unset;
}
.dark-theme .nicescroll-cursors {
    background-color: #21242c !important;
}
.dark-theme .page-link {
    background-color: #21242c;
    color: #ffffff !important;
}
.dark-theme .page-link:hover,
.dark-theme .page-link:focus,
.dark-theme .page-link:active {
    background-color: #191c22;
}
.dark-theme .page-item.active .page-link {
    background-color: #303541;
    border-color: #303541;
}
.dark-theme .page-item.active .page-link:hover,
.dark-theme .page-item.active .page-link:focus,
.dark-theme .page-item.active .page-link:active {
    background-color: #191c22;
    border-color: #191c22;
}