<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap">
    <style>
        *{box-sizing:border-box;-webkit-box-sizing:border-box;margin:0;padding:0}body{color:#fff;font-family:Barlow,sans-serif;font-weight:600;background:#181527}.error-container{max-width:1140px;min-height:100vh;display:flex;flex-direction:column;justify-content:center;margin:0 auto;padding:0 30px}.error-box{text-align:center}.error-box .error-title{font-size:70px}@media only screen and (max-width:399px){.error-box .error-title{font-size:50px}}@media only screen and (max-width:289px){.error-box .error-title{font-size:40px}}
    </style>
</head>
<body>
    <div class="error-container">
        <div class="error-box">
            <div class="error-title">403 Forbidden</div>
        </div>
    </div>
</body>
</html>