:root {
  --divshop-success-icon-color: #00b518;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #2c3e50;
  background-color: #f1f1f1;
  display: flex;
  align-items: flex-start;
}
a {
  text-decoration: none;
  color: #2c3e50;
  transition: .3s all;
  font-weight: 700;
}
a:hover,
a:focus,
a:active {
  color:#243342;
}
h1 {
  margin: 0;
}

small {
  opacity: 0.75;
}

.install-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 64px auto;
}
.install-header {
  border-bottom: 1px solid #f1f1f1;
  padding: 24px;
  color: #2c3e50;
}
.install-content {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
.install-footer {
  padding: 24px;
  text-align: center;
  opacity: 0.75;
  font-size: 14px;
}

.steps {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.step-list {
  flex: 0 0 auto;
}
.step-list ul {
  list-style: none;
}
.step-list ul li {
  width: 100%;
}
.step-list ul li .btn {
  width: 100%;
  text-align: left;
  padding-left: 24px;
}
.step-list ul li .btn span {
  margin-right: 8px;
}
.step-list ul li .btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background-color: #f1f1f1;
}
.step-list ul li .btn.success:after {
  background-color: #93c54b;
}
.step-list ul li .btn.error:after {
  background-color: #d9534f;
}
.step-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-left: 1px solid #f1f1f1;
}
.step-item {
  position: relative;
  display: none;
  padding: 24px;
}
.step-final {
  position: relative;
  padding: 24px;
  text-align: center;
  margin: 0 auto;
}
.step-final .success-icon {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid var(--divshop-success-icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 38px;
}
.step-final .success-icon .gg-check {
  transform: scale(3);
  color: var(--divshop-success-icon-color);
}
@media only screen and (max-width: 799px) {
  .step-list {
    width: 100%;
  }
  .step-item[data-step="5"] + .step-footer {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 493px) {
  .step-footer .docs-link {
    display: none;
  }
  #success-wrap .step-footer .btn {
    margin: 0 auto;
  }
}
.step-item h2 {
  margin-bottom: 16px;
}
.step-footer {
  margin-top: auto;
  border-top: 1px solid #f1f1f1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.step-footer .btn {
  padding: 14px 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}
.step-footer .btn.mr {
  margin-right: auto;
}
.step-footer .btn.ml {
  margin-left: auto;
}

.btn {
  position: relative;
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  color: #2d2d2d;
  font-weight: 700;
  border: none;
  display: inline-flex;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn:hover {
  background-color: #2c3e50;
  color: #FFFFFF;
}
.btn.active {
  background-color: #2c3e50;
  color: #FFFFFF;
}
.btn.active:hover, .btn.active:focus {
  border-left: #ffffff;
}
.btn[disabled], .btn.blocked {
  cursor: no-drop;
  opacity: 0.5;
}
.btn.hide {
  display: none;
}

.loading {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 8px;
}
.loading:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #2c3e50;
  border-color: #2c3e50 transparent #2c3e50 transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form-group {
  margin: 24px 0;
}
.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0;
}
.form-control {
  font-family: "Barlow", Arial, Helvetica, sans-serif;
  border: none;
  border-bottom: 1px solid #2c3e50;
  padding: 8px;
  outline: none;
  background-color: #f1f1f1;
}
.form-control:hover, .form-control:focus {
  background-color: #FFFFFF;
}
.form-help {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.75;
  margin-top: 4px;
}
.form-meter {
  margin-top: 8px;
}
.form-meter.strong {
  color: #93c54b;
}
.form-meter.good {
  color: #d9824f;
}
.form-meter.weak {
  color: #d9534f;
}

i[class*=gg-] {
  display: inline-block;
  vertical-align: middle;
}

.msg-box {
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 0 5px 5px 0;
  border-left: 4px solid #2c3e50;
  display: none;
}
.msg-box + .msg-box {
  margin-top: 8px;
}
.msg-box.show {
  display: block;
}
.msg-box.success {
  border-left-color: #93c54b;
}
.msg-box.error {
  border-left-color: #d9534f;
}
.msg-box.info {
  border-left-color: #2c3e50;
}
.step-item[data-step="5"] .msg-box.error {
  position: absolute;
  margin-right: 25px;
}
.fa-desktop::before {
  content: "\f108";
  position: relative;
  bottom: -2px;
}