$main: #2c3e50;

$white: #FFFFFF;
$gray: #f1f1f1;
$black: #2d2d2d;

$red: #d9534f;
$orange: #d9824f;
$green: #93c54b;

$font: "Barlow", Arial, Helvetica, sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: $font;
    font-size: 16px;
    line-height: 1.4;
    color: $main;

    background-color: $gray;

    display: flex;
    align-items: flex-start;
}

h1{
    margin: 0;
}

small{
    opacity: 0.75;
}

.install{
    &-wrapper{
        width: 100%;
        max-width: 1100px;
        // margin: 8em auto;
        margin: 64px auto;
    }

    &-header{
        border-bottom: 1px solid $gray;
        padding: 24px;
        color: $main;
    }

    &-content{
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
        overflow: hidden;
    }
    
    &-footer{
        padding: 24px;

        text-align: center;
        opacity: 0.75;
        font-size: 14px;
    }
}

// 
// Steps
// 
.steps{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.step{
    &-list{
        flex: 0 0 auto; 

        ul{
            list-style: none;

            li{
                width: 100%;

                .btn{
                    width: 100%;
                    text-align: left;
                    padding-left: 24px;
                    
                    span{
                        margin-right: 8px;
                    }

                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 8px;
                        height: 100%;
                        background-color: $gray;
                    }

                    &.success{
                        &:after{
                            background-color: $green;
                        }
                    }

                    &.error{
                        &:after{
                            background-color: $red;
                        }
                    }
                }
            }
        }
    }

    &-content{
        display: flex;
        flex-direction: column;

        flex: 1 1 auto;
        border-left: 1px solid $gray;
    }

    &-item{
        position: relative;
        display: none;

        padding: 24px;

        h2{
            margin-bottom: 16px;
        }
    }

    &-footer{
        margin-top: auto;
        border-top: 1px solid $gray;

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        .btn{
            padding: 14px 16px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 15px;
            
            &.mr{
                margin-right: auto;
            }

            &.ml{
                margin-left: auto;
            }
        }
    }
}

// 
// Btn
// 
.btn{
    position: relative;
    text-decoration: none;
    background-color: transparent;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: $black;
    border: none;

    display: inline-flex;
    align-items: center;

    padding: 16px;

    cursor: pointer;

    transition: all 0.2s ease;

    &:hover{
        background-color: $main;
        color: $white;
    }

    &.active{
        background-color: $main;
        color: $white;

        &:hover, &:focus{
            border-left: #ffffff;
        }
    }

    &[disabled], &.blocked{
        cursor: no-drop;
        // pointer-events: none;
        opacity: 0.5;
    }

    &.hide{
        display: none;
    }
}


// 
// Loading
// 
.loading {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 8px;

    &:after {
        content: " ";
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 3px solid $main;
        border-color: $main transparent $main transparent;
        animation: loading 1.2s linear infinite;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


// 
// Form
// 
.form{
    &-group{
        margin: 24px 0;
    }

    &-row{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding: 8px 0;
    }

    &-control{
        font-family: $font;
        border: none;
        border-bottom: 1px solid $main;
        padding: 8px;
        outline: none;

        background-color: $gray;

        &:hover, &:focus{
            background-color: $white;
        }
    }

    &-help{
        font-size: 14px;
        font-weight: 500;
        opacity: 0.75;
        margin-top: 4px;
    }

    &-meter{
        margin-top: 8px;

        &.strong{
            color: $green;
        }

        &.good{
            color: $orange;
        }

        &.weak{
            color: $red;
        }
    }
}


// 
// Icons
// 
i[class*="gg-"]{
    display: inline-block;
    vertical-align: middle;
}


// 
// Msg
// 
.msg-box{
    background-color: $gray;
    padding: 8px;

    border-radius: 0 5px 5px 0;
    border-left: 4px solid $main;

    display: none;

    & + &{
        margin-top: 8px;
    }

    &.show{
        display: block;
    }

    &.success{
        border-left-color: $green;
    }

    &.error{
        border-left-color: $red;
    }

    &.info{
        border-left-color: $main;
    }
}